.div_1, .div_2, .div_3, .div_4, .div_5, .div_6 {
    box-sizing: border-box;
}

.div_1, .div_6 {
    width: 100%;
    min-height: 10vh;
    background-color: cornflowerblue;
}

.div_center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80vh;
}

.div_2 {
    width: 25%;
    min-height: 70vh;
}

.div_2, .div_4 {
    background-color: coral;
}

.div_3 {
    width: 75%;
    min-height: 70vh;
    background-color: #fff;
    padding: 20px;
}

.div_2 p {
    font-size: 24px;
    margin: 0;
}

.div_5 {
    position: relative;
    min-height: 10vh;
    width: 100%;
    background-color: rgb(55, 196, 45);
    margin: 0;
}

.div_4 {
    width: 20%;
    min-height: 80vh;
    padding: 20px;
}

.div_4 h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.div_4 ul {
    list-style: none;
    padding: 0;
}

.div_4 li {
    margin-bottom: 10px;
}

.div_4 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

#text_1 {
    font-size: 18px;
}

.location-button {
    text-align: center;
    margin-top: 20px;
}

.location-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0077FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.location-button button:hover {
    background-color: #0055CC;
}

#map {
    position: relative;
    width: 100%;
}

#map img {
    width: 80%;
    height: auto;
}

#map map {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.div_3 h2 {
    font-size: 1.5em;
}

.div_3 p {
    font-size: 16px;
}

.div_5 p {
    margin: 0;
}

.div_3 a {
    color: #000;
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1, h2 {
    margin: 0;
}

.div_q{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.div_w{
    position: relative;
    display:flex;
    width: 100%;
    flex: 1;
}

