.div_1 {
    width: 100%;
    min-height: 10vh;
    background-color: cornflowerblue;
}

.div_3 {
    width: 75%;
    min-height: 70vh;
    background-color: #fff;
    padding: 20px;
}

.div_3 p {
    font-size: 16px;
}


.div_3 .images .button_container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Add margin to create space between image and button */
}

.div_3 .small_image {
    width: 250px;
    height: auto;
    margin-right: 10px;
}

.div_3 .spacer {
    width: 10px;
    height: 100%;
    background-color: transparent;
}

.div_3 .images .button_1,
.div_3 .images .button_2 {
    margin: 0;
    padding: 10px 70px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.div_3 .button_1:hover,
.div_3 .button_2:hover {
    background-color: #45a049;
}

.div_4 {
    width: 20%;
    min-height: 80vh;
    background-color: coral;
    padding: 20px;
    box-sizing: border-box;
}

.div_4 h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.div_4 ul {
    list-style: none;
    padding: 0;
}

.div_4 li {
    margin-bottom: 10px;
}

.div_4 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.div_2{
    width: 25%;
    min-height: 70vh;
    background-color: coral;
}

.div_2 p {
    width: 100%;
    font-size: 24px;
    margin: 0;
}

.div_5 {
    position: relative;
    min-height: 10vh;
    width: 100%;
    background-color: rgb(55, 196, 45);
    margin: 0;
}

.div_6 {
    width: 100%;
    min-height: 10vh;
    background-color: cornflowerblue;
}

.div_center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80vh;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
}

.div_q{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.div_w{
    position: relative;
    display:flex;
    width: 100%;
    flex: 1;
}
